<div class="flex flex-col bg-blue-300 w-screen h-screen overflow-hidden">
  <!-- Header -->
  <div class="bg-yellow-100 w-full h-10">HEADER</div>

  <!-- Contenedor central con el sidebar y contenido principal -->
  <div class="flex flex-row bg-red-300 w-full flex-grow overflow-hidden">
    <!-- Sidebar con scroll interno -->
    <div class="bg-green-400 w-64 h-full flex flex-col gap-1 overflow-y-auto">
      <div class="min-h-10 w-full p-1 bg-blue-300"></div>
    </div>

    <!-- Contenido principal con scroll interno -->
    <div class="bg-black w-full h-full overflow-y-auto">
      <!-- Contenido aquí -->
    </div>
  </div>

  <!-- Footer -->
  <div class="bg-gray-500 w-full h-10">FOOTER</div>
</div>
